<div class="mat-elevation-z5">
  <div class="table-filter-header" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="1 1 30%">
      <input matInput placeholder="Search" (keyup)="filter($event.target.value)">
    </mat-form-field>

    <div *onOfflineDatabaseOnly>
      <a mat-fab routerLink="./add">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>

  <mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let chart">{{chart.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Version</mat-header-cell>
      <mat-cell *matCellDef="let chart">{{chart.version}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="editButtons">
      <mat-header-cell fxFlex="40px" *matHeaderCellDef></mat-header-cell>
      <mat-cell fxFlex="40px" *matCellDef="let chart">
        <a mat-icon-button [routerLink]="'./' + chart.id"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="deleteButtons">
      <mat-header-cell fxFlex="40px" *matHeaderCellDef></mat-header-cell>
      <mat-cell fxFlex="40px" *matCellDef="let chart">
        <button mat-icon-button (click)="remove(chart.id)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  </mat-table>

  <mat-paginator pageSize="20"></mat-paginator>
</div>
