<mat-card [formGroup]="form">
  <mat-card-title *ngIf="!isEdit">Create a webhook value</mat-card-title>
  <mat-card-title *ngIf="isEdit">Edit webhook value</mat-card-title>

  <mat-card-content fxLayout="column" fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="form.get('name').hasError('required')">required</mat-error>
      <mat-hint>Webhook name in Helm repository</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
      <mat-error *ngIf="form.get('description').hasError('required')">required</mat-error>
      <mat-hint>Webhook description</mat-hint>
    </mat-form-field>

    <mat-divider [inset]="true"></mat-divider>

    <div [formGroup]="form.get('condition')"  fxLayout="column" fxLayoutGap="20px">
      <mat-card-subtitle>Triggered on</mat-card-subtitle>

      <mat-radio-group formControlName="webhookType" fxLayout="row" fxLayoutGap="15px">
        <mat-radio-button value="pipeline">Pipeline</mat-radio-button>
        <mat-radio-button value="manual" [disabled]="true">Manually</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div [formGroup]="form.get('condition')">
      <mat-card-subtitle>Git repository / pipeline properties</mat-card-subtitle>

      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput [matAutocomplete]="projectsAC" placeholder="Project" formControlName="projectNamespace" required>
          <mat-error *ngIf="form.get('condition.projectNamespace').hasError('required')">required</mat-error>
          <mat-hint>Repository namespace</mat-hint>

          <mat-autocomplete autoActiveFirstOption #projectsAC>
            <mat-option *ngFor="let project of gitProjects | async" [value]="project">{{ project }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matAutocomplete]="repositoriesAC" placeholder="Repository" formControlName="projectName" required>
          <mat-error *ngIf="form.get('condition.projectName').hasError('required')">required</mat-error>
          <mat-hint>Repository name</mat-hint>

          <mat-autocomplete autoActiveFirstOption #repositoriesAC>
            <mat-option *ngFor="let repo of gitRepositories | async" [value]="repo">{{ repo }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matAutocomplete]="branchesAC" placeholder="Branch" formControlName="gitRef" required>
          <mat-error *ngIf="form.get('condition.gitRef').hasError('required')">required</mat-error>
          <mat-hint>Repository branch</mat-hint>

          <mat-autocomplete autoActiveFirstOption #branchesAC>
            <mat-option *ngFor="let branch of gitBranches" [value]="branch">{{ branch }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-checkbox formControlName="isTag">on tagged commit only</mat-checkbox>
      </div>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div [formGroup]="form.get('deployConfig')">
      <mat-card-subtitle>Deployment config</mat-card-subtitle>

      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <mat-form-field>
          <mat-select placeholder="Release" formControlName="releaseName">
            <mat-option *ngFor="let release of releases" [value]="release">{{ release }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('deployConfig.releaseName').hasError('required')">required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Chart name" formControlName="chartName">
            <mat-option *ngFor="let name of chartNames" [value]="name">{{ name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('deployConfig.chartName').hasError('required')">required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Version" formControlName="chartVersion">
            <mat-option *ngFor="let version of chartVersions" [value]="version">{{ version }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('deployConfig.chartVersion').hasError('required')">required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Chart value" formControlName="chartValuesId">
            <mat-option *ngFor="let chartValue of chartValues" [value]="chartValue.id">{{ chartValue.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button routerLink="..">
      <mat-icon>arrow_back</mat-icon>
      Back
    </a>
    <button mat-raised-button [disabled]="!form.valid" (click)="save()" color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-card-actions>
</mat-card>
